<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="callout">
            <div class="grid-x grid-padding-x" style="background-color:#eeffddaa">

                <div class="large-1 medium-1 cell">
                </div>

                <div class="large-4 medium-4 cell" style="background-color:#eeffddaa">
                    <div class="callout">
                        <div class="cell"><h2 align="center">hypertidy</h2></div>
                        <p class="text-center">
                            Mike Sumner's love letter to the R universe
                        </p>
                    </div>
                </div>

                <div class="large-6 medium-6 cell" style="background-color:#eeffddaa">
                    <div class="callout">
                        <p class="text-center">
                        Put some propagandery shite here about hypertidy. Sell
                        that shit.
                        </p>
                    </div>
                </div>

                <div class="large-1 medium-1 cell">
                </div>

            </div>
        </div>

    </div>
</div>
